<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Storyboard Metadata-->
		<add key="StoryBoardXPath" value="//h1[contains(text(),'Storyboard Metadata')]|//p[contains(text(),'Storyboard Metadata')]"/>
		<add key="Graphic and text" value="Mandatory: Graphic;FFN;Alt text;|Optional: Caption,Acknowledgements;Media position;Teacher only;Discoverable;Notes"></add>
		<add key="MathFunctionsEnable" value="false"></add>
		<add key="SkipTableStyle" value="|border-collapse|colspan|rowspan|text-align|"></add>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>